/bootstrap/compiled.php
/vendor
/node_modules
app/database/testCodecept.sqlite
app/database/testCodecept.bak.sqlite
_ide_helper.php
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
